* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Courier New", Courier, monospace;
  font-size: 15px;
  line-height: 1.4;
  color: rgb(41, 30, 30);
  background-color: dimgray;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

.navbar {
  background-color: #0f1418;
  color: #fff;
  height: 65px;
}

.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  height: 100%;
}

.navbar .logo {
  font-style: italic;
  font-size: x-large;
  font-weight: 700;
  line-height: 1.2;
}

.navbar ul {
  display: flex;
  gap: 30px;
}

.navbar a:hover {
  color: #ba1b23;
}

a {
  text-decoration: none;
  color: #fff;
  font-style: italic;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
}

li {
  list-style: none;
}

.container-h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6c2922;
}

.container-h1 h1 {
  padding-top: 20px;
  color: #fff;
}

.header {
  background-color: #6c2922;
  padding: 20px;
}

.header .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header input {
  border: solid #0f1418;
  border-radius: 5px;
  font-size: 1.5em;
  padding: 5px;
  outline: none !important;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
}

.signUpButton-ok {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signUpButton-ok button {
  background-color: #6c2922;
  padding: 10px 25px;
  border-radius: 20px;
  border: #0f1418;
  border-style: outset;
  font-family: "Courier New", Courier, monospace;
  font-size: medium;
  font-weight: 700;
  cursor: pointer;
}

.signUpButton-ok button:hover {
  color: #0f1418;
  background-color: #ba1b23;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  padding: 20px;
  background-color: #0f1418;
}

.footer h4 {
  border-radius: 15px;
  font-size: large;
  color: #fff;
}

/* validation style */

input.valid {
    border-color: rgb(0, 227, 0);
}

input.invalid {
    border-color: rgb(255, 173, 19);
}

input + p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em ;
    font-weight: 700;
    margin: 10px;
    color: rgb(255, 173, 19);
    text-align: center;
    opacity: 0;
    height: 0;
}

input.invalid + p {
    opacity: 1;
    height: auto;
}
