* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    line-height: 1.4;
    color: rgb(41, 30, 30);
    background-color: dimgray;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}


.navbar {
    background-color: #0f1418;
    color: #fff;
    height: 65px;
}

.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 0px 20px; 
    height: 100%;
}

.navbar .logo {
    font-style: italic;
    font-size: large;
    font-weight: 700;
}

.navbar ul {
    display: flex;
    gap: 10px;
}

.navbar a:hover {
    color: #ba1b23;
}

a {
    text-decoration: none;
    color: #fff;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;    
}

li {
   list-style: none;  
}

.header {
    background-color: #6c2922;
    padding: 20px;
}

.header h1 {
    font-size: 3em;
    font-weight: 700;
    color: #fff;
    margin-bottom: 10px;
    line-height: 1.2;
}

h2 {
    margin-bottom: 10px;
}

.header img {
    max-width: 500px;
}

.header .container {
    display: flex;
    align-items: center;
}

.header button {
    background-color: #6c2922;
    padding: 10px 15px;
    border-radius: 20px;
    border: #0f1418;
    border-style: outset;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    font-weight: 700;
}

.container2 button:hover {
    color: #0f1418;
    background-color: #ba1b23;
}


.subtitle {
    background-color: #4a5a5b;
    color: #fff;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 2em;
    padding: 40px 0px;
}

.main {
    background-color: #4a5a5b;
    padding-bottom: 40px;
}

.main .container {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-bottom: 40px;
    text-align: center;
}

.info img {
    max-width: 200px;
    border-radius: 20px;
    border: solid #0f1418;
}

.info .text {
    background-color: #6c2922;
    color: #fff;
    border-radius: 10px;
    font-size: larger;
    font-weight: 700;
    font-style: italic;
}

.texto {
    background-color: #8a9592;
    padding: 100px 0px;
}

.texto .container {
    display: flex;
    justify-content: center;
    font-size: large;
}

.boxes {
    background-color: #baaeaa;
    padding: 70px 0px;
}

.boxes .container {
    display: flex;
    background-color: #ba1b23;
    padding: 40px 20px;
    justify-content: space-around;
    justify-items: center;
    border-radius: 10px;
}

.box {
    font-size: large;
    font-weight: 700;
    color: #fff;
}

