* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    line-height: 1.5;
    color: rgb(41, 30, 30);
    background-color: dimgray;
}


.navbar {
    background-color: #0f1418;
    color: #fff;
}

.container1 {
    display: flex;
    justify-content: space-between; 
    padding: 0px 20px;   
}

.logo {
    display: flex;
    align-items: center;
    font-style: italic;
    font-size: large;
    font-weight: 700;
}

a {
    text-decoration: none;
}

li {
   list-style: none;
}